



<h2><%= @user.email%> Liked Items</h2>
<%- model_class = FeedItem -%>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:likes_count) %></th>
      <th><%= model_class.human_attribute_name(:author) %></th>

      <th><%= model_class.human_attribute_name(:created_at) %></th>
            <th><%= model_class.human_attribute_name(:last3_comments) %></th>

      <!--
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
      -->
    </tr>
  </thead>
  <tbody>
    <% @feed_items.each do |feed_item| %>
      <tr>
        <td><%= link_to "#{feed_item.ref_type}-#{feed_item.ref_id}", feed_item.ref %></td>
        <td><%= link_to feed_item.title, feed_item.ref %></td>
        <td><%= feed_item.likes_count %></td>
        <td><%= link_to feed_item.user.email, user_path(feed_item.user) %></td>
        
        <td><%=l feed_item.created_at %></td>
          <td>
          <ul><%  feed_item.ref.comments.limit(3).each do |comment|%>
          <li><%= comment.content %></li>
          <% end %>
          </ul>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @feed_items %>
